VITE_ENTRA_CLIENT_ID=
VITE_ENTRA_AUTHORITY=https://login.microsoftonline.com/organizations
VITE_PORTAL_API_SCOPE=api://REPLACE_WITH_CLIENT_ID/access_as_user
VITE_TEST_AUTH_MODE=false
FEATURE_GITHUB_PROVIDER=false
